body{
    background-image: url('./img2.jpg');
 
}
.tt{
    color:white;
    font-size: 20px;
    border: 1px solid white;
    font-family: 'Syne Mono', monospace;
   
}
.pala{
    color:maroon;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
}
.but{
  
    text-decoration: none;
    color:darkslategray;
    margin-left:15px;
    font-size: 25px;
    border: 1px solid darkslategray;
    border-radius: 5px;
   padding-left: 3px;
   padding-right: 3px;
   font-family: 'Syne Mono', monospace;
   text-align: center;
}
.but:hover{
    color: white;
    border: 1px solid white;
}